[Desktop Entry]
Exec=/home/dstaudt/.local/bin/nautilus-uri-bookmark %F
Icon=user-bookmarks-symbolic
Name=URI Bookmark Opener
Terminal=false
Type=Application
MimeType=application/nautilus-uri-bookmark